[submodule "aou_ehr_validator"]
	path = aou_ehr_validator
	url = git@github.com:all-of-us/aou-ehr-file-check.git
[submodule "aou-ehr-file-check"]
	path = aou-ehr-file-check
	url = git@github.com:all-of-us/aou-ehr-file-check.git
